.MainContainer{
    display: flex;
    flex-direction: row;
}
.SubContainerOne{
    display:flex;
    flex-direction: column;
    width: 55%;
    height: 40%;
    border: 5px;
    scroll-behavior: auto;
    border: 10px;
}
.SubContainerTwo{
    margin: 1%;
    padding: 1%
    
}
.datepickerComponent{
    display:block;
    align-items: center;
}
