.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }
  
  .Total_component {
    display: flex;
    margin-top: 5%;
  }
  
  .InactiveUsertable_container {
    height: 270px!important;
  }

  .Heading {
    height: 5px!important;
  }
  
  .Datepicker_component {
    align-items: center;
    display: inline-block;
    width: 170px;
    height: 100px;
    margin-top: 15px;
    margin-left: 20px;
    padding: 50px;
    margin-bottom: 20px;
    box-shadow: rgba(37, 37, 37, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
  }
  
  .rows {
    width: 20%;
    overflow: hidden;
  }
  
  .inner-rows {
    width: 70%;
  }
  
  .search_bar {
    width: 50%;
    float: right;
    margin: 10px;
  }
  
  .Date_picker {
    margin-top: 5px !important;
    display: grid;
  }
  
  .Inactive_Table {
    box-shadow: rgba(37, 37, 37, 0.2) 0px 2px 8px 0px !important;
    width: 900px;
    padding: 20px;
    border-radius: 10px!important;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .submit_btn {
    margin-top: 35px !important;
    margin-left: -10px !important;
    margin-bottom: 0px !important;
    background-color: #55B74E !important;
  }
  
  .stepper {
    width: 170px;
  }
  
  .radio_group {
    margin-left: 450px !important;
  }
  
  /* Media queries */
  
  @media screen and (max-width: 767px) {
    .container {
      flex-direction: column-reverse;
    }
    
    .Datepicker_component {
      order: 1;
      margin-top: 0;
      margin-bottom: 20px;
    }
    
    .Inactive_Table {
      order: 2;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Adjust styles for medium screens */
    .search_bar {
      width: 70%;
      margin: 10px;
    }
    
    .Inactive_Table {
      width: 70%;
      margin-left: 0;
    }
    
    .radio_group {
      margin-left: 0 !important;
    }
  }
  
  @media screen and (min-width: 1024px) {
    /* Adjust styles for large screens */
    .search_bar {
      width: 50%;
      margin: 10px;
    }
    
    .Inactive_Table {
      width: 900px;
      margin-left: 50px;
    }
    
    .radio_group {
      margin-left: 450px !important;
    }
  }
  