.x{
    background: 'white';
}


.hello1{
    background: blue;
    color: black;
}

.stats_bar{
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.chartCust{
    padding: 10px;
    width: 17.1%;
    display: flex;
    justify-content: space-around;
}

.compare_bar{
    border: 2px;
    border-color: rgb(177, 177, 177);
    border-radius: 10px;
    border-style:solid;
    padding: 20px;
    width: 200px;
    align-items: center;
}

.order_trend{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: yellow; */
    margin: 20px;
}

.chipObject{
    display: flex;
    flex-direction: row;
    width: 150px;
    background-color: rgb(243, 243, 243);
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    height: 43px;
    margin: 5px;
}

.compareTab{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dateListbox{
    overflow-y: scroll;
    height: 500px;
    margin: 10px 5px; padding: 5px;
    text-align: justify;
}

.dateListbox ::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.dateListbox ::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius:5px;
}
.dateListbox ::-webkit-scrollbar-thumb {
    border-radius:5px;
    -webkit-box-shadow: inset 0 0 6px red; 
}

.hs{
    width: 75%;
}

.toggle_trend{
    display: flex;
    justify-content: space-between;
    width: 20.6%;
}


.active{
    border-color: #54B948;
    background-color: #54B948;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.inactive{
    background-color: white;
    border-color: #54B948;
    color: #54B948;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
}

.daysCust{
    width: 38.5%;
    display: flex;
    justify-content: space-between;
}

.buttonBlack{
    background-color: rgb(175, 44, 0);
}